<% include ../partials/header %>

<div class="container">
        <div class="row row-form">
            <div class="box-form">
                <div class="jumbotron jumb-form">
                    <fieldset>
                        <legend class="text-center">S'inscrire</legend>
                        <hr>
                        <form action="/register" method="POST">
                            <div class="form-group">
                                <label for="username">Pseudo</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Pseudo">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot De Passe</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe">
                            </div>
                            <button class="btn btn-success" type="submit">Valider</button>
                            <a href="/campgrounds" class="btn btn-secondary">Retour</a>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>